@import url("https://fonts.googleapis.com/css?family=Helvetica+Neue:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

:root {
  --font-helvetica: "Helvetica Neue", serif;
  --font-raleway: "Raleway", sans-serif;
  --main-color: #0b0b0b
  --white: #eeeae6;
  --navy-blue: #19233b;
  --midnight-blue: #141927;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
